[submodule "src/django"]
	path = src/django
	url = git://github.com/django/django.git
[submodule "src/django-south"]
	path = src/django-south
	url = git://github.com/simplegeo/django-south.git
[submodule "src/tower"]
	path = src/tower
	url = git://github.com/clouserw/tower.git
[submodule "src/django-celery"]
	path = src/django-celery
	url = git://github.com/ask/django-celery.git
